.agendados {
  width: 100%;
  margin-left: 5%;
  margin-top: 3%;
  position: relative;
}

.agendados h1 {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.mat-tab-group {
  margin-bottom: 48px;
  color: white;
}

::ng-deep .tabs .mat-tab-label {
  color: white;
  font-size: medium;
  font-weight: bold;
}

.agendados .calendario {
  position: absolute;
  bottom: 63%;
  right: 10%;
  font-size: 18px;
  z-index: 2;
}

.calendario mat-label {
  color: white;
}

.calendario mat-date-range-input {
  color: white;
}

.calendario .mat-date-range-input-start {
  color: white;
}

.calendario mat-datepicker-toggle {
  color: white;
}
