.home {
  background-color: #4e4d4f;
}

.mat-drawer {
  width: 18%;
  background-color: #252525;
  color: white;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30px;
  height: 30px;
}

.mat-drawer-content {
  max-width: 100%;
  overflow-y: hidden; // hide vertical
  overflow-x: hidden; // hide horizontal
}
