<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"
    />
  </head>

  <body>
    <mat-spinner class="loading"></mat-spinner>
    <mat-drawer-container class="home">
      <mat-drawer mode="side" opened>
        <app-menu [userData1]="parceiroLogado"></app-menu>
      </mat-drawer>
      <mat-drawer-content>
        <div class="container">
          <app-agendamento-botoes
            (eventosAgendamentoBotoes)="alterandoStatusModel()"
          ></app-agendamento-botoes>
          <app-agendamento-pendente></app-agendamento-pendente>
          <app-agendamento-agendado
            [userData2]="parceiroLogado"
          ></app-agendamento-agendado>
          <app-novo-agendamento
            [userData3]="parceiroLogado"
            *ngIf="exibirModalNovoAgendamento"
            (eventosNovoAgendamento)="alterandoStatusModel()"
          ></app-novo-agendamento>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </body>
</html>
