<div class="modal">
  <p (click)="fecharModal()" style="float: right">X</p>
  <p class="titulo-agendamento">
    Novo agendamento<br />
    <span class="sub-titulo-agendamento"
      >Preencha os dados abaixo para criar um novo agendamento.</span
    >
  </p>

  <table>
    <tr>
      <td>
        <mat-label>Nome</mat-label>
        <mat-form-field class="form" appearance="outline">
          <input
            matInput
            type="text"
            placeholder="Nome do Cliente"
            [(ngModel)]="nome"
          />
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <mat-label>Telefone</mat-label>
        <mat-form-field class="form" appearance="outline">
          <input
            matInput
            type="text"
            mask="(00) 00000-0000"
            placeholder="Telefone"
            [(ngModel)]="telefone"
          />
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <mat-label>Campo</mat-label>
        <br />
        <mat-radio-group
          aria-placeholder="Campo"
          [(ngModel)]="campoSelecionado"
        >
          <mat-radio-button
            *ngFor="let campo of listaCampo"
            class="check-campo"
            [value]="campo"
            >{{ campo.nome }}</mat-radio-button
          >
        </mat-radio-group>
      </td>
    </tr>

    <tr>
      <td>
        <br />
        <mat-label>Data do agendamento</mat-label>
        <mat-form-field class="form" appearance="outline">
          <input
            matInput
            [matDatepicker]="dp3"
            disabled
            [(ngModel)]="dataAgendamento"
          />
          <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <mat-label>Duração</mat-label>
        <br />
        <mat-radio-group aria-placeholder="Duração" [(ngModel)]="duracao">
          <mat-radio-button
            *ngFor="let duracao of listaDuracao"
            class="check-campo"
            [value]="duracao"
            >{{ duracao }}</mat-radio-button
          >
          <br />
        </mat-radio-group>
      </td>
    </tr>

    <tr>
      <td>
        <mat-label>Tipo de Reserva</mat-label>
        <br />
        <mat-radio-group aria-placeholder="Duração" [(ngModel)]="tipoReserva">
          <mat-radio-button
            *ngFor="let tipoReserva of listaTipoReserva"
            class="check-campo"
            [value]="tipoReserva"
            >{{ tipoReserva.tipo }}</mat-radio-button
          >
          <br />
        </mat-radio-group>
      </td>
    </tr>

    <tr>
      <td>
        <br />
        <button
          [disabled]="checkCamposHorarios"
          (click)="verificarHorarioDisponiveis()"
          class="form"
          mat-flat-button
          color="primary"
        >
          Verificar Horários Disponíveis
        </button>
      </td>
    </tr>

    <tr>
      <td *ngIf="!this.horariosDisponivel">
        <br />
        <mat-label>Horários</mat-label>
        <mat-form-field class="form" appearance="outline">
          <mat-select
            [(value)]="horarioSelecionado"
            [disabled]="horariosDisponivel"
            (selectionChange)="onChangeHorario()"
          >
            <mat-option *ngFor="let horario of listaHorarios" [value]="horario">
              {{ horario }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td *ngIf="!this.horariosDisponivel">
        <mat-label>Valor da reserva</mat-label>
        <mat-form-field class="form" appearance="outline">
          <input
            matInput
            type="text"
            currencyMask
            [(ngModel)]="valorReserva"
          />
          <mat-label><i>opcional</i></mat-label>
        </mat-form-field>
      </td>
    </tr>
    <br />
    <tr>
      <td *ngIf="!this.horariosDisponivel">
        <button
          [disabled]="checkCamposConfirmar"
          class="form"
          mat-flat-button
          color="primary"
          (click)="cadastrarAgendamento()"
        >
          Confirmar
        </button>
      </td>
    </tr>
    <tr>
      <td>
        <button (click)="fecharModal()" class="botao-cancelar" type="submit">
          Cancelar
        </button>
      </td>
    </tr>
  </table>
</div>
<div class="overlay"></div>
