.mat-list-item {
  color: white;
}

.mat-icon {
  margin-right: 5%;
}

.footer {
  margin-top: 90%;
}

.info-futplace {
  text-align: justify;
  margin-left: 10%;
  margin-top: 10%;
}

.info-futplace img {
  width: 45%;
}

.info-usuario img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 5%;
}

.info-usuario p {
  font-size: 12px;
  font-style: inherit;
}
