.mat-list-item {
  color: white;
}

.mat-icon {
  margin-right: 5%;
}

.header {
  margin-left: 5%;
}

.footer {
  margin-top: 105%;
  margin-left: 5%;
}

.info-futplace {
  text-align: justify;
  margin-left: 10%;
  margin-top: 5%;
}

.info-futplace img {
  width: 40%;
}

.info-usuario img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 5%;
}

.info-usuario p {
  font-size: 12px;
  font-style: inherit;
}

.nomeParceiro {
  font-size: 15px;
  font-weight: bold;
}

.nomeBairro {
  font-size: 10px;
}
