.agendados {
  width: 100%;
  margin-left: 5%;
  margin-top: 2%;
}

.agendados h1 {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

table {
  width: 90%;
}

th {
  background-color: #595959;
  color: white;
  text-align: center;
}

td {
  background-color: #252525;
  color: white;
  text-align: center;
}

.status-confirmado {
  color: #26c600;
}

.status-cancelado {
  color: #ca1714;
}

.status-confirmado .div-teste {
  width: 85px;
  height: 20px;
  background-color: #def8e0;
  border-radius: 10px;
}

.status-cancelado .div-teste {
  width: 85px;
  height: 20px;
  background-color: #f8dede;
  border-radius: 10px;
}

.sem-agendamentos {
  text-align: center;
  margin-right: 10%;
}

.sem-agendamentos h1 {
  margin-top: 10%;
}

.btn-deletar {
  background-color: #252525;
  color: white;
  height: 40px;
  width: 50px;
  text-align: center;
}

.btn-deletar .mat-icon {
  color: red;
}

.btn-editar {
  color: white;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
  margin: 10px;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 50px;
  color: white;
}

.example-element-data {
  font-size: 15px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
