.agendados {
  width: 100%;
  margin-left: 5%;
  margin-top: 2%;
}

.agendados h1 {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

table {
  width: 90%;
}

th {
  background-color: #4e4d4f;
  color: white;
}

td {
  background-color: #252525;
  color: white;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
  margin: 10px;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 50px;
  color: white;
}

.example-element-data {
  font-size: 15px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
